body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header h1 {
  font-size: 50px;
}

.score-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addScore-dev {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addScore-dev h3 {
  font-size: 30px;
  margin: 0;
  margin-top: 20px;
}

.addScore-dev form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recentScore-dev button {
  margin: 35px 0;
  font-size: 15px;
}

.addScore-dev form button {
  margin-left: 70%;
}

.recentScore-dev {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.recentScore-dev h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.result-dev ul {
  list-style: none;
  border: 1px solid black;
  padding: 0;
}

.result-dev ul li {
  padding: 5px;
}

.result-dev ul :nth-child(even) {
  background-color: rgb(216, 204, 204);
}
